<!DOCTYPE html>

</head>
<body>
   <h1>{{recipe_name}}</h1>
   <div>
      <h1>{{recipe.recipe_name}}</h1>
      <p>contributor:{{recipe.contributor}}</p>
      <p>category: {{recipe.category}}</p>
      <p>description: {{recipe.description}}</p>
      <p>spices: {{recipe.spices}}</p>
      <p>source: {{recipe.source}}</p>
      <p>rating: {{recipe.rating}}</p>
      <p>ingredients: {{recipe.ingredients}}</p>
      <p>directions: {{recipe.directions}}</p>

      <table>
      </table>
   </div>
</body>
</html>
